@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 71% 95%; /* #fbf4e7 */
    --foreground: 44 12% 18%; /* #343129 */
    --primary: 44 85% 60%; /* #efc242 */
    --primary-foreground: 44 12% 18%; /* #343129 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
